header{
    background-color: #1F2937;
}
.btn{
    background-color: #3882F6;
    color: #F9FAF8;


}
footer{
    background-color: #1F2937;

}
.link{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display:flex;
    justify-content: space-between;

}
